*{
    margin: 0;
}

header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
gap: 50px;

>.hash{
        flex-grow: 1;
        font-size: 15px;
        display: flex;
        justify-content: center;
        gap: 100PX;
}
>h1{
    font-family:"Momo Signature";

}
>.feed button{
    border: none;
    background-color: rgb(47, 144, 228);
    border-radius: 15px;
    font-size: 20px;
    height: 70px;
    color: white;


}


}

a{
    text-decoration: none;
}

main{
    margin-top: 100px;
    
    >.about-me{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 20px 10px 60px rgb(0, 157, 255);
    border-radius: 20px;
    >div{
        width: 50%;
        >h1 g{
            color: aqua;
            font-family: "Momo Signature";
        }
        >h2 ul{
        list-style-type: none;
        }
        >h2 ul i{
            color: blue;
        }
    }
    >.im{
        text-align: center;
    }
    >div img{
        height: 500px;
    
    }

    }
}
main .Education{
    margin-top: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}
main .Education .edu{
    margin-top: 100px;
    display: flex;

}
main .Experances {
    width: 90%;
    margin-left: auto;
    margin-right: auto ;
    margin-bottom: 200px;
}
main .Experances >div{
    margin-top: 100px;
    display: flex;
    >img{
        height: 100px;
        width: 100px;
    }

}

main .projects {
    margin-top: 50px;
    display: flex;
    margin-bottom: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;

    >h1{
        flex-basis: 100%;
        
    }
    >br{
        flex-basis: 100%;
    }
    >div{
        border: 2px solid blue;
        border-radius: 20px;
        text-align: center;
        box-shadow: 10px 10px 10px rgb(21, 162, 239);
        
    }
    >.front-End{
    flex: 1 0 100%;
    margin-bottom: 100px;
    >.mapviewer{
        >img{
            width: 100%;
        }
   
    }
     >.profile{
        text-align: left;
        >img{
            width: 100%;
        }

    }

    }
    >.graduate{
        flex-basis: 40%;
    }
    >.Depi-p{
        flex: 0 0 40%;
    }

}

main .contact-me .all{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    
    >div img{
        width: 100px;
        height: 100px;
        border-radius: 20px;
        
        }
    >div a{
            display: block;
    }
    }

@media (min-width: 600px) and (max-width: 850px) {
    header{
        gap: 10px;
        width: 80%;
        >.hash{
            gap: 20px;
        }
    }
    main .about-me{
        width: 90%;
        >.im {
            display: flex;
            align-items: center;
        }
        >.im img{
            width: 90%;
            height:480px;
            margin-left: auto;
            margin-right: auto;
        }

    }

    .Education{
        >div img{
            width: 70px;
            height: 70px;
        }

    }

    main .Experances {
        >div img{
            width: 70px;
            height: 70px;
        }
    }

    
}

@media (min-width: 50px) and (max-width: 600px) {
main{
   /* .Education,.Experances,.projects,.contact-me{
    display: none;} */
}

    header button {
        display: block !important;
    }

body{
    display: flex;

    >header{
        display: flex;
        flex-direction: column;
        width: 20%;
       height: 100%;
       gap: 5px;
      
    
    }
    header .hash, .feed{
        display: none;
    }
    }
    header .hash{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    }

    main{
        justify-content: center;
    }
    main .about-me,.Education,.Experances,.projects,.contact{
        margin-top:50%;
        
        width: 100%;
        margin-left: auto;
        font-size: 10px;

    }

    main .about-me {
        display: block;
        font-size: 10px;
        >div{
            width: 100%;
        }

        >.im img{

            position:absolute;
            top:100px;
            right: 10px;
            width: 100px;
            height: 120px;
            box-shadow: 10px 20px 30px rgb(105, 105, 223);
        }
    }
  main .Education{
    >div{
        >.edu{
            margin-top: 10px;
        }
        >img{
            margin-top: 10px;
            width: 100px;
            height: 100px;
        }
    }
  }

  main .Experances{
    margin-top: 30px;

  }

  main .projects .graduate{
    >h3 ul{
        text-align: left;
    }
    flex-basis: 45%;
  }
  main .projects .Depi-p{
    flex-basis: 45%;

}

main .contact-me .all {
    > div img{
        width: 75px;
        height: 75px;
    }
    > div h1{
        font-size: 20px;
    }

}



